body {
    font-family: 'Lato', sans-serif;
}

#title {
    text-align: center;
    padding: 10px;
}

#menu-column {
    text-align: center;
    padding-bottom: 5px;
}


.bet-total {
    background: transparent;
    border-radius: 18px;
    position: relative;
    margin-bottom: 1px;
    font-size: 2.0em;
    float:right;
    color: white;
    padding: 2px;
    display: inline-block;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.individual-container {
    position: absolute;
}

.individual-bets {
    margin-top: 5px;
    font-size: 0.95em;
}

.label {
    /* border:1px solid black; */
    padding: 3px;
    display: inline-block;
}

.breakdown-counter {
    position: relative;
    font-size: 1.5em;
}

.bet-container {
    padding: 9px;
    position:absolute;
    top: 30%;
    margin-bottom: 10px;
    display: table-cell;
}

#blue-total-container {
    left: 30%;
}


#blue-bet-label {
    float: right;
}

#blue-individual-container {
    position: absolute;
    left: 20%;
}


#blue-individual-bets {
    position: relative;
    float: left;
    text-align: left;
}

#red-total-container {
    right: 30%;
}

#red-bet-label {
    float: left
}

#red-individual-container {
    position: absolute;
    right: 20%;
}

#red-individual-bets {
    position: relative;
}

body {
    height: 100%;
    background: linear-gradient(90deg, #0074D9 25%, #FF4136 75%);
    color: white;
    font-size: 1.2em;
}

#bet-info {
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: right;
}

#reset-bets {
    padding-top: 10px;
}

button {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

a {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
