body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    max-width: 50rem;
    padding: 1.5rem;
    color: white;
    background: linear-gradient(90deg, #0074D9 25%, #FF4136 75%);
    font-size: 1.2em;
}

#title {
    text-align: center;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: [bluebets] 1fr [bluesummary] 1fr [menu] 1fr [redsummary] 1fr [redbets] 1fr;
    gap: 20px;
}

#menu-column {
    grid-column: menu;
    text-align: center;
}

.bet-count {
    font-size: 0.95em;
    padding: 0.2em;
}

.individual-bets {
    font-size: 0.95em;
}

.sum {
    font-size: 2.2em;
}

.blue {
    text-align: left;
}
.red {
    text-align: right;
}

#grid-blue-bet-list {
    grid-column: bluebets;
}

#grid-blue-bet-summary {
    grid-column: bluesummary;
}

#grid-red-bet-summary {
    grid-column: redsummary;
}
#grid-red-bet-list {
    grid-column: redbets;
}

#reset-bets {
    padding-top: 3.5rem;
}

button,a {
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
